# config.sample
# configuration file to setup power measurement values

LINK_PHY_POWER = 10

LINK_LOCAL_ROUTE_POWER = 20

LINK_REMOTE_ROUTE_POWER = 30

XBAR_RQST_SLOT_POWER = 2

XBAR_RSP_SLOT_POWER = 2.5

XBAR_ROUTE_EXTERN_POWER = 35

VAULT_RQST_SLOT_POWER = 27

VAULT_RSP_SLOT_POWER = 21

VAULT_CTRL_POWER = 5

ROW_ACCESS_POWER = 17

TECPLOT_OUTPUT = 1

TECPLOT_PREFIX = STREAM
